.container{
    display:inline-flex;
    flex-wrap: wrap;
    width: 250px;
    height: 350px;
    margin: 15px;
    padding: 3px;
    border-radius: 10px;
    background-color:#b0c2f2;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.poke_img{
    width: 225px;
    height: 153px;
}

/* .card{
    width: 300px;
    height: 400px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} */