.container{
    /* display: flex; */
    flex-direction:column;
    justify-content: space-between;
    width: 240px;
    height: 350px;
    /* background-image: url("../../pictures/card/card.png"); */
    box-shadow: 8px 8px 8px #252525;
    margin-bottom: 25px;
    margin-left: 20px;
    position: relative;
    border-radius: 18px;
}

.poke_img{
    width: 200px;
    height: 150px;
}