.landing_container{
    background-image: url(../img/pokemon-logo.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 583px;
    
}

.button_enter{
    position: relative;
    margin: 0 auto;
    top: 345px;
    letter-spacing: 4px;
    font-family:fantasy;
    border: 0;
    background-image: linear-gradient(150deg,
    #c63637,
    #e2504c,
    #ff6961   
    );
    border-radius: 8px;
    color: #fff;
    display:flexbox;
    font-size: 18px;
    padding: 16px 0px;
    cursor: pointer;
    transition: .3s;
}

.button_span{
    /* background-color: #111; */
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

.button_span:hover{
    background: #111;
}

.button_enter:active{
    transform: scale(0.9);
}



