.navContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-top: 25px; */
    padding: 25px;
    background-image: linear-gradient(90deg,
    #b8e4ff,
    #b2e2f2,
    #c5c6c8,
    #d8f8e1,
    #b0f2c2,
    #b0c2f2   
    );
    
}

/* Botones Nav */
.button_nav{
    position: relative;
    /* margin: 5 auto; */
    top: -5px;
    letter-spacing: 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0;
    background-image: linear-gradient(150deg,
    #c501e2,
    #9a27f7,
    #6664ff   
    );
    border-radius: 8px;
    color: #fff;
    display:flexbox;
    font-size: 16px;
    padding: 8px 0px;
    cursor: pointer;
    transition: .3s;
}
.button_span{
    padding: 10px 24px;
    border-radius: 6px;
    transition: .3s;
}
.button_span:hover{
    background: #111;
}
.button_nav:active{
    transform: scale(0.9);
}


/* Input */
.input{
    position: relative;
    margin-left: -122px;
    border-radius: 8px;
    top: -5px;
    width: 100px ;
}

.img_loader{
    height: 30px;
    width: 30px;
    margin-left: -100px;
}